@charset 'utf-8';

.contents {
    &.chart {
        position: relative;
        margin: 0 auto;
        padding: 75px 0 40px;
    }

    .chart_nav {
        position: relative;
        width: 100%;
        height: 100px;

        .menu_depth_01 {
            position: relative;
            width: 100%;
            height: 50px;
            border-bottom: 1px solid $bd-color;

            .flex {
                max-width: var(--default-width);
                height: 100%;
                margin: 0 auto;
                @include flex(center, space-between);
            }

            ul {
                position: relative;
                @include flex(center, flex-start, 16px);

                >li {
                    flex-shrink: 0;
                    height: 100%;
                    cursor: pointer;
                    @include ftM;
                    font-size: rem(14);
                    color: $ft-sub-color;
                    transition: all 0.3s ease-in-out;
                    line-height: 50px;
                    padding: 0 4px;

                    &.active {
                        color: $ft-main-color;
                        border-bottom: 2px solid $point-color;
                    }

                    &:hover {
                        color: $point-color;
                    }
                }
            }
        }
    }
}
